*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.header-container-top{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
@media(max-width:900px){
    .header-container-top{
        justify-content: center;
        flex-direction: column;
        margin-bottom: 2rem;
    }
}
@media(max-width:360px){
    .header-container-top{
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1.6rem;
    }
}
.header-box-logo{
    width: 900px;
}
@media(max-width:900px){
    .header-box-logo{
        display: flex;
        justify-content: center;
    }
}
@media(max-width:375px){
    .header-box-logo{
        display: flex;
        justify-content: center;
        width: 375px;
    }
}
@media(max-width:360px){
    .header-box-logo{
        display: flex;
        justify-content: center;
        width: unset;
    }
}
.header-logo{
    width: 144px;
    height: 122px;
}
@media(max-width:360px){
    .header-logo{
        width: 120px;
        height: 100px;
    }
}
.header-list-menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 30vw;
    height: 1.5rem; 
}
@media(max-width:900px){
    .header-list-menu{
        justify-content: space-evenly;
        width: 900px;
    }
}
@media(max-width:375px){
    .header-list-menu{
        display: flex;
        justify-content: space-around;
        width: 375px;
        font-size: 14px;
    }
}
@media(max-width:360px){
    .header-list-menu{
        display: flex;
        justify-content: space-around;
        width: unset;
        font-size: 13px;
    }
}
.header-list-item{
    cursor: pointer;
    width: 25px;
}
@media(max-width:375px){
    .header-list-item{
        width: unset;
    }
}
@media(max-width:360px){
    .header-list-item{
        width: unset;
        margin: 0 10px;
    }
}
.header-list-item:hover{
    cursor: pointer;
    font-weight: bold ;
    width: 25px;
}
@media(max-width:375px){
    .header-list-item:hover{
        width: unset;
    }
}
@media(max-width:360px){
    .header-list-item:hover{
        width: unset;
    }
}
.header-container-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media(max-width:375px){
    .header-container-info{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column-reverse;
    }  
}
.header-box-sobre{
    
}
@media(max-width:900px){
    .header-box-sobre{
        display: flex;  
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 250px;
        height: 300px;
    }
}
@media(max-width:375px){
    .header-box-sobre{
        display: flex;  
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: unset;
        height: unset;
    }
}
.header-title-sobre{
    font-weight: bold;
    font-size: 40px;
}
@media(max-width:900px){
    .header-title-sobre{
        font-size: 30px;  
    }
}
@media(max-width:375px){
    .header-title-sobre{
        font-size: 22px;  
    }
}
.header-subtitle-sobre{
    color: #45cfc9;
    font-weight: bold;
    font-size: 21px;
    margin-top: 5px;
}
@media(max-width:900px){
    .header-subtitle-sobre{
        font-size: 18px;  
    }
}
@media(max-width:375px){
    .header-subtitle-sobre{
        text-align: center; 
        font-size: 16px; 
        width: 270px;
    }
}
.header-paragraph-sobre{
    font-size: 18px;
    line-height: 25px;
    width: 455px;
    margin-top: 10px;
}
@media(max-width:900px){
    .header-paragraph-sobre{
        font-size: 16px;
        line-height: 25px;
        width: unset;
    }
}
@media(max-width:375px){
    .header-paragraph-sobre{
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        width: 245px;
    }
}
@media(max-width:360px){
    .header-paragraph-sobre{
        text-align: center;
        font-size: 16px;
        line-height: 17px;
        width: 200px;
    }
}
.header-box-art{
    background-image: url(img/27\ Plum.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 985px;
    height: 583px;
}
@media(max-width:900px){
    .header-box-art{
        width: 580px;
        height: 275px;
    }
}
@media(max-width:375px){
    .header-box-art{
        width: 255px;
        height: 165px;
    }
}
.art-mustard{
    width: 455px;
}
@media(max-width:900px){
    .art-mustard{
        width: 350px;  
    }
}
@media(max-width:375px){
    .art-mustard{
        width: 150px;  
    }
}
.art-olive{
    width: 345px;
}
@media(max-width:900px){
    .art-olive{
        width: 230px;  
    }
}
@media(max-width:375px){
    .art-olive{
        width: 120px;  
    }
}
.header-box-list{
    display: flex;
    justify-content:center;
    align-items: flex-end;
    height: 10vh;
    margin-bottom: 10px;
}
@media(max-width:375px){
    .header-box-list{
        display: flex;
        justify-content:center;
        align-items: flex-end;
        height: 6vh;
        margin: 7px 0;
    }
}
.header-list-opitions{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100vw;
    height: 1.9rem;
}
.opitions{
    cursor: pointer;
    font-size: 18.5px;  
    width: 45px; 
}
@media(max-width:375px){
    .opitions{
        cursor: pointer;
        font-size: 13px;  
        width:unset; 
    }
}
.opitions:hover{
    cursor: pointer;
    font-weight: bold;
    text-decoration:underline red 2px;
    font-size: 18.5px;
    width: 45px;
}
@media(max-width:375px){
    .opitions:hover{
        font-size: 14px;  
        width:unset; 
    }
}
.main-background{
    background-color: #B4F8F7;
}
.main-box-gallery{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}
.main-gallery-img{
   margin: 40px 0;
}
@media(max-width:900px){
    .main-gallery-img{
        width: 410px;  
    }
}
@media(max-width:375px){
    .main-gallery-img{
        width: 160px; 
        margin: 12px 0; 
    }
}
.main-box-bt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.main-bt{
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
}
.main-bt:hover{
    cursor: pointer;
    font-weight: bold;
    text-decoration:underline red 2px;
    text-transform:uppercase;
}
@media(max-width:900px){
    .main-bt{
        font-size: 18px; 
    }
}
@media(max-width:375px){
    .main-bt{
        font-size: 15px; 
    }
}
.footer-background{
    background-color: #f8f3a1;
}
.footer-container{
    padding: 40px 0;
}
@media(max-width:900px){
    .footer-container{
        padding: 20px 0;  
    }
}
.footer-box-information{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
@media(max-width:900px){
    .footer-box-information{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 0;  
    }
}
.footer-bt-logo{
    cursor: pointer;
}
@media(max-width:375px){
    .footer-bt-logo{
        width: 100px;
    }
}
.footer-box-copy{

}
@media(max-width:900px){
    .footer-box-copy{
        text-align: center;
    }
}
@media(max-width:375px){
    .footer-box-copy{
        font-size: 14px ;
    }
}
.footer-box-email{

}
@media(max-width:900px){
    .footer-box-email{
        text-align: center;
        margin: 10px 0;
    }
}
@media(max-width:375px){
    .footer-box-email{
        font-size: 14px ;
    }
}
.footer-email{
    cursor: pointer;
}
.footer-box-socialmidia{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 36px;
}
@media(max-width:900px){
    .footer-box-socialmidia{
        margin-top: 10px;
    }
}
@media(max-width:375px){
    .footer-box-socialmidia{
        justify-content: space-evenly;
        width: 360px;
    }
}
@media(max-width:360px){
    .footer-box-socialmidia{
        justify-content: space-evenly;
        width: 350px;
    }
}
.footer-bt-socialmidia{
    cursor: pointer;
}
@media(max-width:375px){
    .footer-bt-socialmidia{
        height: 25px;
    }
}
.footer-box-aviso{
    text-transform: capitalize;
    text-align: end;
    width: 1315px;
    margin: 25px 0;
}
@media(max-width:900px){
    .footer-box-aviso{
        text-align: center;
        width: 100vw;
        margin: 0;
    }
}
@media(max-width:375px){
    .footer-box-aviso{
        text-align: center;
        font-size: 12px;
        width: unset;
        margin: unset;
    }
}
@media(max-width:360px){
    .footer-box-aviso{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        width: unset;
        margin: unset;
    }
}